<style>#zarinpal{margin:auto} #zarinpal img {width: 80px;}</style>
    <footer class="md:container my-12">
        <div class=" relative w-full bg-gray-900 dark:bg-gray-800 text-white rounded-2xl p-4 lg:p-9">
            <div class="flex items-start flex-col gap-x-7 lg:gap-x-10 gap-y-10 lg:flex-row flex-wrap">
                <div class="flex-[2] w-full">
                    <h2 id="about" class="footer_title">درباره فیت ریکس شاپ</h2>
                    <p class="leading-8 text-gray-400 mb-5">در فروشگاه آنلاین ما، بهترین مکمل های ورزشی از
                        برندهای معتبر جهانی را با کیفیت بالا و قیمتی مناسب برای شما فراهم آورده‌ایم. با انتخاب محصولات
                        ما، تجربه‌ای حرفه‌ای و لذت‌بخشی در خانه یا باشگاه داشته باشید.

                    </p>
                    <div class="flex items-center gap-x-4">
                        <a href="https://instagram.com/fitrix.ir" class="size-10 bg-gray-950 rounded-xl flex-center">
                            <svg class="size-6 text-blue-500">
                                <use href="#instagram"></use>
                            </svg>
                        </a>
                        <a href="#" class="size-10 bg-gray-950 rounded-xl flex-center">
                            <svg class="size-6 text-blue-500">
                                <use href="#whatsapp"></use>
                            </svg>
                        </a>
                        <a
                        href="https://ble.ir/USERNAME"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="bale"
                        class="size-10 bg-gray-950 rounded-xl flex items-center justify-center hover:bg-gray-900 transition"
                        >
                        <span
                            class="size-6 bg-blue-500 block"
                            style="
                            mask: url('./images/footer/bale.svg') no-repeat center;
                            -webkit-mask: url('./images/footer/bale.svg') no-repeat center;
                            mask-size: contain;
                            -webkit-mask-size: contain;
                            "
                        ></span>
                        </a>
                        <!-- Telegram -->
                        <a
                        href="https://t.me/fitrix_Support"
                        target="_blank"
                        rel="noopener noreferrer"
                        aria-label="Telegram"
                        class="size-10 bg-gray-950 rounded-xl flex items-center justify-center hover:bg-gray-900 transition"
                        >
                        <span
                            class="size-6 bg-blue-500 block"
                            style="
                            mask: url('./images/footer/telegram.svg') no-repeat center;
                            -webkit-mask: url('./images/footer/telegram.svg') no-repeat center;
                            mask-size: contain;
                            -webkit-mask-size: contain;
                            "
                        ></span>
                        </a>
                    </div>
                </div>
                <div class="flex-1 flex flex-col w-full lg:w-auto">
                    <h2 class="footer_title">دسترسی سریع</h2>
                    <div class="flex gap-x-10 child:space-y-2 child:text-gray-400">
                        <ul class="child-hover:text-blue-500 child:transition-all">
                            <li>
                                <a href="/">صفحه اصلی</a>
                            </li>
                            <li>
                                <a href="/shop">فروشگاه</a>
                            </li>
                            <li>
                                <a href="#contact">تماس با ما </a>
                            </li>
                            <li>
                                <a href="#about">درباره ما</a>
                            </li>
                        </ul>
                        <ul class="child-hover:text-blue-500 md:hidden child:transition-colors">
                            <li>
                                <a href="/auth"> ثبت نام | ورود </a>
                            </li>
                            <li>
                                <a href="/basket">سبد خرید</a>
                            </li>
                            <li>
                                <a href="/dashboard">حساب کاربری</a>
                            </li>
                            <li>
                                <a href="/shop?sort=bestselling">پرفروش‌ترین‌ها</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex-[1.5] w-full">
                    <h2 id="contact" class="footer_title">تماس با ما</h2>
                    <ul
                        class="flex flex-col child:flex child:text-gray-400 child:items-center child:justify-between gap-y-6">
                        <li>
                            <p>شماره تماس :</p>
                            <p dir="ltr">0937 364 0517</p>
                        </li>
                        <li>
                            <p>آدرس ایمیل :</p>
                            <p>info@fitrix.ir</p>
                        </li>
                        <li>
                            <p>آدرس :</p>
                            <p>تهران</p>
                        </li>
                    </ul>
                </div>
                <div
                    class="flex-1 w-full md:w-1/6 flex flex-col items-end justify-end ml-5 md:ml-0 md:mr-5">

                    <div class="flex justify-center md:justify-end items-center gap-x-3  child:bg-gray-950 child:dark:bg-gray-900">
                    
                        <span class="w-16 h-16 lg:w-20 lg:h-20 flex-center rounded-xl ">
                             <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=682381&Code=0xiS98D3DpadjnnP9juMqMQcxBadybsF'><img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=682381&Code=0xiS98D3DpadjnnP9juMqMQcxBadybsF' alt='' style='cursor:pointer' code='0xiS98D3DpadjnnP9juMqMQcxBadybsF'></a>
                        </span>
                        <span class="w-20 h-20 lg:w-20 lg:h-20 flex-center rounded-xl ">
                            <div id="zarinpal">
                                <img class="w-100 h-100" src="/images/payment/zarinpal.png" alt="zarinpal">
                            </div>
                        </span>
                        <span class="w-20 h-20 lg:w-20 lg:h-20 flex-center rounded-xl ">
                            <div id="digipay">
                                <img class="w-100 h-100" src="/images/payment/digipay.svg" alt="digipay">
                            </div>
                        </span>
                    </div>
                    <!-- GO TOP -->
                    <a href="#" class="ring-2 ring-gray-400 text-gray-300 w-32 rounded-lg text-sm flex-center gap-x-2 py-1.5 px-2 mt-10 ">
                        بازگشت به بالا
                        <svg class="size-4 rotate-180">
                            <use href="#chevron" />
                        </svg>
                    </a>
                </div>
            </div>
            <!-- DIV -->
            <div
                class="w-full rounded-xl bg-gray-950 dark:bg-gray-900 flex flex-col md:flex-row gap-y-4 items-center justify-between py-4 md:py-6 md:px-6 mt-6">
                <a href="/" class="text-3xl font-MorabbaMedium">
                    <span class="text-blue-500">فیت ریکس</span> شاپ
                </a>
            </div>
        </div>
        <p class="text-center text-sm my-4 text-gray-400">Copyright © 2026 fitrix. All rights reserved.</p>
    </footer>


