                <div class="flex lg:hidden">
                   <button class="open-user-menu bg-blue-500 flex items-center gap-x-1 font-DanaMedium text-white p-2 rounded-lg text-sm mr-2">
                        <svg class="size-5">
                            <use href="#bars-3" />
                        </svg>
                        منوی کاربری
                    </button>
                    <div class="user-menu">
                         <button class="close-user-menu">
                            <svg class="size-6">
                            <use href="#x-mark" />
                            </svg>
                         </button>
                         <!-- NAME AND AVATAR  -->
                        <div class="w-full flex items-center justify-between border-b border-gray-200 dark:border-white/20 py-3">
                    <div class="flex items-center gap-x-3">
                        <img src="./images/svg/user.png" class="size-10 ring-2 ring-gray-400/20 rounded-full"
                            alt="AVATAR">
                        <span class="felx flex-col gap-y-2">
                            <p class="font-DanaMedium text-lg"> مدیریت فیت ریکس </p>
                        </span>
                    </div>
                        </div> 
                        <ul
                        class="w-full relative space-y-2 child:duration-300 child:transition-all child:py-3  child:px-2 child:flex child:gap-x-2 text-lg child:cursor-pointer child:rounded-lg">
                        <li class="bg-blue-500/10 text-blue-500">
                            <svg class="w-6 h-6 ">
                                <use href="#squares"></use>
                            </svg>
                            <a href="dashboard.html">داشبورد</a>
                        </li>
                        <li class="hover:text-blue-500">
                            <svg class="w-6 h-6 ">
                                <use href="#shopping-bag"></use>
                            </svg>
                            <a href="dashboard-orders.html">
                                سفارش ها
                            </a>
                        </li>
                        <li class="hover:text-blue-500">
                            <svg class="w-6 h-6 ">
                                <use href="#map"></use>
                            </svg>
                            <a href="dashboard-address.html">آدرس ها</a>
                        </li>
                        <li class="hover:text-blue-500">
                            <svg class="w-6 h-6 ">
                                <use href="#bell"></use>
                            </svg>
                            <a href="dashboard-messages.html">پیام ها</a>
                        </li>
                        <li class="hover:text-blue-500">
                            <svg class="w-6 h-6 ">
                                <use href="#cog"></use>
                            </svg>
                            <a href="dashboard-account.html">اطلاعات حساب </a>
                        </li>
                        <li class="text-red-400">
                            <svg class="w-6 h-6 ">
                                <use href="#arrow-left-end"></use>
                            </svg>
                            <a href="index.html">خروج</a>
                        </li>
                        </ul>
                    </div>
                </div>
