node_modules/
node_modules.zip
dist/
build/
.env
.env.example
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode/
.idea/
*.swp
coverage/
.gitignore
مکمل
public/uploads
storage/
ecosystem.config.js